includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    paths:
        - src
        - rector/src
        - tests/Types
        - compat
    tmpDir: .cache/phpstan
    treatPhpDocTypesAsCertain: false
